/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.DS_Store
resources/js/routes.js
/helm/charts/**.tgz
/helm/Chart.lock
_ide_helper.php
.phpstorm.meta.php